<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <a class="navbar brand" href="#"><img src="assets/logoo.png" alt="logo" width="100px" height="100px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbarr" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link  "  routerLink="/" routerLinkActive="active"><h3 class="home">Home</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/addappointment" routerLinkActive="active"><p class="order">Place Your Order</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/delete" routerLinkActive="active"><p class="order">Manage Orders</p></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT US</a>
      </li> -->
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link loggin" routerLink="/login" *ngIf="!_auth.loggedIn()"  routerLinkActive="active">login</a>
      <a class="nav-link loggin" routerLink="/register" *ngIf="!_auth.loggedIn()"  routerLinkActive="active">Signup</a>
      <a class="nav-link loggin" style="cursor:pointer"  *ngIf="_auth.loggedIn()" (click)="logoutUser()">Logout</a>
    </ul> 
  </div>
</nav>


<div class = "container">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>