
*{
    margin: 0;
    padding: 0;
}




#navStyle{
    padding-left: 8%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(44, 4, 119);
}

#navStyle a{
    color: white;


}

#signButton{
    padding-left: 40%;
    padding-top: 10px;
    background-color: rgb(4, 4, 66);
}

#signButton button{
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: none;
    margin-right: 20px;
    background: linear-gradient(45deg, rgb(143, 124, 124),rgb(129, 156, 28));
    color: rgb(1, 14, 14);
}

#libraryHeading{

    background-color: rgb(4, 4, 66);
    color: rgb(34, 104, 209);
    height: 100px;
    
}
#libHead{
    float: left;
    color: white;
    margin-left: 7%;
    margin-top: 25px;

}



/* slider card */

main {
    display: block;
  }

.main {
    
    padding-top: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 31%;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.card:hover{
    transform: scale(1.07);
    /* box-shadow: 0 2px 0px  #1890ff; */

}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-text {
    padding: 20px 23px 35px;
    min-height: 275px;
    display: flex;
    flex-direction: column;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}










/* sign in form style */

#signinformContainer{

    background:linear-gradient(45deg,rgb(214, 210, 201),rgb(131, 100, 100));
}

#formImage{

    width: 300px;
    height: 500px;
    background: linear-gradient(45deg,rgb(78, 49, 5),black);

}

#signinform{
    padding: 5% 2% 2% 2%;
    width: 280px;
    background-color: rgb(219, 202, 202);
    margin: auto;
}



#signinform h2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#signinform input[type="text"],
#signinform input[type="password"],
#signinform input[type="email"]
{

    
    
    overflow: hidden;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(36, 32, 32);
    outline: none;
}
#signinInput{

    border-bottom: 1px solid gray;
    margin: 20px 5px 20px 0px;
}


#signinform input[type="checkbox"]{
    margin-top: 15px;

}

#signinform label{
    margin-top: 10px;
}
#signinform button{
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(42, 165, 97);
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
}

#regLink{

    text-align: center;
}

/* signup form style */



#signupformImage{

    width: 300px;
    height: 500px;
    background: linear-gradient(45deg,rgb(71, 2, 71),rgb(49, 49, 51));
}

#signupform{
    margin: auto;
    
}


#signupform h2{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(4, 65, 65);
}


#signupform input[type="text"],
#signupform input[type="password"],
#signupform input[type="email"]{
   
    
    padding: 5px 0 0 0;
    overflow: hidden;
    background: none;
    border: none;
    outline: none;
}

#username,
#phonenumber,
#email,
#cpassword,
#rpassword{
    background-color: white;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    padding: 5px 10px 5px 0;
}
#signupform button{
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 20px;
    background:linear-gradient(45deg,rgb(10, 7, 9),rgb(63, 3, 50)) ;
    color: white;
    
}


/* footer */

footer{


    background-color: rgb(184, 181, 179);
    padding-left: 8%;
    padding-top: 40px;
    height: 150px;
    margin-top: 100px;
    
    
}



.sociallink{
    height: 25px;
    width: 80px;
    float: left;
    text-align: center;
   
       
}


.sociallink a{
    text-decoration: none;
    color: white;
}

#usernameCorrect,
#usernameWrong,
#signinCorrect,
#signinWrong,
#upusernameCorrect,
#upusernameWrong,
#phoneCorrect,
#phoneWrong,
#emailCorrect,
#emailWrong,
#cpasswordCorrect,
#cpasswordWrong,
#rpasswordCorrect,
#rpasswordWrong{

    display: none;
}

#regsuccess,
#insuccess{
    text-align: center;
    margin-top: 100px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}




/* responsive */

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }



    .pizza {
        padding: 50px;
        background-size: 500px;
        background-position: auto ;
    }


    .kebab {
        background-position: top 55px right -100px;
        background-size: 385px;
    }

    .vegetables {
        background-position: top 0 right -280px;
        background-size: 810px;
    }

    .sushi {
        background-position: top 30px right -175px;
    }



    .promo-text {
        font-size: 18px;
        max-width: 400px;
    }

    .card {
        flex-basis: 49%;
    }

    .footer-link {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }

    .card-info {
        flex-wrap: wrap;
    }

    .card .rating {
        flex-basis: 100%;
    }

    .card-title {
        font-size: 18px;
    }

    .card-text {
        min-height: 290px;
    }

    .card-price-bold {
        margin-left: 20px;
    }


    .pizza {
        background-size: 400px;
        background-position: auto;
    }


    .kebab {
        background-position: top -5px right -74px;
        background-size: 300px;
    }

    .vegetables {
        background-position: top 0 right -240px;
        background-size: 702px;
    }

    .sushi {
        background-position: top -24px right -75px;
        background-size: 302px;
    }

    .promo-title {
        font-size: 24px;
        line-height: 1.4;
    }

    .promo-text {
        margin-top: 0;
    }
}

@media (max-width: 578px) {
    .container {
        width: 90%;
    }

    .address {
        min-width: 100%;
        order: 1;
    }

    .header {
        flex-wrap: wrap;
    }

    .input-address {
        margin-top: 15px;
        order: 5;
        flex: 1;
    }

    .promo {
        background-image: none;
    }

    .promo-title {
        margin-bottom: 10px;
    }

    .section-title {
        font-size: 20px;
    }

    .card {
        flex-basis: 100%;
    }

    .card-text {
        min-height: auto;
    }

    .card-image {
        width: 100%;
    }

    .footer {
        padding: 30px 0;
    }

    .footer-block {
        align-items: flex-start;
    }

    .footer-nav {
        margin-left: 0;
        margin-right: 0;
        order: 0;
        display: flex;
        flex-direction: column;
    }

    .footer-logo {
        margin-right: 15px;
        order: 1;
    }

    .social-links {
        order: 2;
    }
}

@media (max-width: 480px) {
    .button-text {
        display: none;
    }

    .button-icon {
        margin: 0;
    }

    .user-name {
        margin: 10px;

    }

    .buttons {
        flex-wrap: wrap;
        margin-left: auto;
    }

    .button {
        min-height: 40px;
        padding: 5px 12px;

    }

    .button-out-svg {
        width: 24px;
        height: 24px;
        background-color: #fff;
        -webkit-mask: url(../img/icon/logout.svg) no-repeat 50% 50%;
        mask: url(../img/icon/logout.svg) no-repeat 50% 50%;
        background-repeat: no-repeat;
        -webkit-mask-size: 20px;
        mask-size: 20px;
    }

    .promo {
        padding: 20px;
    }

    .section-heading {
        flex-wrap: wrap;
    }

    .footer-block {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        order: 0;
        margin-bottom: 20px;
    }

    .footer-nav {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer-link:not(:last-child) {
        margin-right: 0;
    }
}