
  <div class ="bottom-ftr text-center" style="width: 100%;">
    
    <div class="social-icons-box">


      <div class="social-icons">
        <div class="footter">
        <div class="follow">
            <div class="sociallink" style="background-color: rgb(105, 163, 238);"><a href="#">Twitter</a></div>
            <div class="sociallink" style="background-color: darkblue;"><a href="#">Facebook</a></div>
            <div class="sociallink" style="background-color: rgb(231, 15, 15);"><a href="#">Google+</a></div>
        </div><!-- <li><a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>  -->
        
      </div>
      <div class="col-md-12">Copyright &copy; 2020 MechaFuel, All Rights Reserved.</div>

      </div>
    
    </div>

    <div class="row" style="width: 100%;">
    </div>
  </div>

