<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>

    

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">

</head>
<body style="background-color: rgb(184, 181, 179);">

    <nav class="navbar navbar-expand-md " id="navStyle">
        <a class="navbar-brand" href="index.html">HOME</a>             
        <ul class="navbar-nav mr-auto">   
            <li class="nav-item "><a class="nav-link" href="signin.html">LOGIN</a></li>
            <li class="nav-item"><a class="nav-link" href="signup.html">SIGNUP</a></li>
        </ul>  
    </nav>

    <div class="container-fluid"  id="libraryHeading">
        <div id="libHead"><h3>Library</h3></div>
        <div id="blank"></div>
    </div>

    <div class="container" id="profile">

        <div id="firstProfile">
            <div id="firstImage">
                <img src="img/coding.jpg" height="100px" width="100px" alt="">
            </div>
            <div id="firstProfiledata">
                <h2>Useful site for Designers</h2>
                <button>Googlainespot</button>
                <br>
                <a href="#">Read More....</a>
               
            </div>
        </div>
        <hr>
        <div id="secondProfile">
            <div id="secondImage">
                <img src="img/fruits.jpg" height="100px" width="100px" alt="">
            </div>
            <div id="secondProfiledata">
                <h2>FarmTechnology-Lets do farming</h2>
                <button>Googlainespot</button>
                <br>
                <a href="#">Read More....</a>
            </div>
        </div>
        <hr>
        <div id="thirdProfile">
            <div id="thirdImage">
                <img src="img/mango.jpg" height="100px" width="100px" alt="">
            </div>
            <div id="thidProfiledata">
                <h2>AgriTech-Latest agricultural technologies</h2>
                <button>Googlainespot</button>
                <br>
                <a href="#">Read More....</a>
            </div>
        </div>
        <hr>

        <button id="morebtn">more</button>

    </div>

    <footer>
        <h2>Follow Us</h2>
        <div class="follow">
            <div class="sociallink" style="background-color: rgb(105, 163, 238);"><a href="#">Twitter</a></div>
            <div class="sociallink" style="background-color: darkblue;"><a href="#">Facebook</a></div>
            <div class="sociallink" style="background-color: rgb(231, 15, 15);"><a href="#">Google+</a></div>
        </div>
    </footer>
     
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/script.js"></script>
</body>
</html>