<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body style="background-color: rgb(184, 181, 179);">

    <nav class="navbar navbar-expand-md " id="navStyle">
        <a class="navbar-brand" href="index.html"><%=title%></a>                    
    </nav>

    <div id="signButton">
        <button><a href="/signin">Sign in</a></button>
        <button><a href="/signup">Sign up</a></button>
    </div>
    
    

    <div class="container-fluid"  id="libraryHeading">
        <div id="libHead"><h3><%=heading[0]%></h3></div>
    </div>

    <main class="main">
		<div class="container">
			<section class="menu">
				
				<div class="cards cards-menu">
					<div class="card">
						<img src="img/indianoil.jpg" alt="image" class="card-image"/>
						<div class="card-text">
							<div class="card-heading">
								<h3 class="card-title card-title-reg">hp</h3><br>
								
							</div>

							<h6>KARADI</h6>
							<!-- /.card-heading -->
							<div class="card-info">
								<div class="ingredients">
									<p>Distance - 50 m</p>
									<p>Delivery time - 1 mns</p>
								</div>
							</div>
							<!-- /.card-info -->
							<div class="card-buttons">
								<button class="button button-primary button-add-cart">
									<span class="button-card-text">Buy</span>
									<span class="button-cart-svg"></span>
								</button>
								<strong class="card-price-bold"></strong>
							</div>
						</div>
						<!-- /.card-text -->
					</div>
					<!-- /.card -->

					<div class="card">
						<img src="img/sr.jpg" alt="image" class="card-image"/>
						<div class="card-text">
							<div class="card-heading">
								<h3 class="card-title card-title-reg">Indianoil</h3><br>
								
							</div>
							<h6>KARADI</h6>
							<!-- /.card-heading -->
							<div class="card-info">
								<div class="ingredients">
									<p>Distance - 100 m</p>
									<p>Delivery time - 2 mns</p>
								</div>
							</div>
							<!-- /.card-info -->
							<div class="card-buttons">
								<button class="button button-primary button-add-cart">
									<span class="button-card-text">Вuy</span>
									<span class="button-cart-svg"></span>
								</button>
								<strong class="card-price-bold"></strong>
							</div>
						</div>
						<!-- /.card-text -->
					</div>
					<!-- /.card -->

					<div class="card">
						<img src="img/hp.jpg" alt="image" class="card-image"/>
						<div class="card-text">
							<div class="card-heading">
								<h3 class="card-title card-title-reg">Indian Oil</h3><br>
								
							</div>
							<h6>CHUNKAM</h6>
							<!-- /.card-heading -->
							<div class="card-info">
								<div class="ingredients">

									<p>Distance - 200 m</p>
									<p>Delivery time - 3 mns</p>
								</div>
							</div>
							<!-- /.card-info -->
							<div class="card-buttons">
								<button class="button button-primary button-add-cart">
									<span class="button-card-text">Вuy</span>
									<span class="button-cart-svg"></span>
								</button>
								<strong class="card-price-bold"></strong>
							</div>
						</div>
						<!-- /.card-text -->
					</div>
					<!-- /.card -->

					
					
					
					<!-- /.card -->
				</div>
				<!-- /.cards -->
			</section>
		</div>
		<!-- /.container -->
	</main>

    <footer>
        <h2>Follow Us</h2>
        <div class="follow">
            <div class="sociallink" style="background-color: rgb(105, 163, 238);"><a href="#">Twitter</a></div>
            <div class="sociallink" style="background-color: darkblue;"><a href="#">Facebook</a></div>
            <div class="sociallink" style="background-color: rgb(231, 15, 15);"><a href="#">Google+</a></div>
        </div>
    </footer>
<script src="js/popper.min.js"></script>    
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>