

    
  <main class="main">
		<div class="container">
			<section class="menu">
				
				<div class="cards cards-menu">
					<div class="card">
						<img src="assets/indianoil.jpg" alt="image" class="card-image"/>
						<div class="card-text">
							<div class="card-heading">
								<h3 class="card-title card-title-reg">hp</h3><br>
								
							</div>

							<h6>KARADI</h6>
							<!-- /.card-heading -->
							<div class="card-info">
								<div class="ingredients">
									<p>Distance - 50 m</p>
									<p>Delivery time - 1 mns</p>
								</div>
							</div>
							<!-- /.card-info -->
							<div class="card-buttons">
								
								<strong class="card-price-bold"></strong>
							</div>
						</div>
						<!-- /.card-text -->
					</div>
					<!-- /.card -->

					<div class="card">
						<img src="assets/sr.jpg" alt="image" class="card-image"/>
						<div class="card-text">
							<div class="card-heading">
								<h3 class="card-title card-title-reg">Indianoil</h3><br>
								
							</div>
							<h6>KARADI</h6>
							<!-- /.card-heading -->
							<div class="card-info">
								<div class="ingredients">
									<p>Distance - 100 m</p>
									<p>Delivery time - 2 mns</p>
								</div>
							</div>
							<!-- /.card-info -->
							<div class="card-buttons">
								
								<strong class="card-price-bold"></strong>
							</div>
						</div>
						<!-- /.card-text -->
					</div>
					<!-- /.card -->

					<div class="card">
						<img src="assets/hp.jpg" alt="image" class="card-image"/>
						<div class="card-text">
							<div class="card-heading">
								<h3 class="card-title card-title-reg">Indian Oil</h3><br>
								
							</div>
							<h6>CHUNKAM</h6>
							<!-- /.card-heading -->
							<div class="card-info">
								<div class="ingredients">

									<p>Distance - 200 m</p>
									<p>Delivery time - 3 mns</p>
								</div>
							</div>
							<!-- /.card-info -->
							<div class="card-buttons">
								
								<strong class="card-price-bold"></strong>
							</div>
						</div>
						<!-- /.card-text -->
					</div>
					<!-- /.card -->

					
					
					
					<!-- /.card -->
				</div>
				<!-- /.cards -->
			</section>
		</div>
		<!-- /.container -->
	</main>
    
    
      